<div class="orders-index">
  <div class="container">
    <div class="main-block">
      <div class="row">
      <div class="col-sm-9">
      <div class="form">
        <h1>Fomr place</h1>
      </div>
      <div class="orders-table">
       <table class="table">
          <thead>
            <tr>
              <td> Order Id </td>
              <td> Vendor </td>
              <td> Tracking number </td>
              <td> Customer </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> 2</td>
              <td> Target</td>
              <td> 3231</td>
              <td> Delyte</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="map">
        <h1>Map google maps</h1>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>