// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders-index{
  border: solid 1px;
  margin-top: 200px;
  .main-block{
    border: solid 1px;
    display: flex;
    justify-content: space-around;

    .form{
      border: dotted 1px;
    }
  
    .dashboard{
      display: flex;
      flex-direction: column;
      border: solid 1px;

      .orders-table{
        .table{
          tbody{
            display:block;
            height:200px;
            overflow:auto;
          }
          thead, tbody tr {
              display:table;
              width:700px;
              table-layout:fixed;
          }
            th{
              font-weight: bold;
            }
        }
      }
    }
  }
}