// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders-index{
  .main-block{
    border:solid, 1px;
    display: flex;
    justify-content: space-around
  }
    .dashboard{
      display: flex;
      flex-direction: column;
      border: solid, 1px;
    }
  
}